/* ==========================================================================
   #SPACINGS
   ========================================================================== */

/**
 * Add margin around element
 *
 *    <div class="u-margin">...</div>
 *    <div class="u-margin u-margin--large">...</div>
 */

.u-margin {
    --u-margin: var(--space-medium);
    margin-top: var(--u-margin) !important;
    margin-right: var(--u-margin) !important;
    margin-bottom: var(--u-margin) !important;
    margin-left: var(--u-margin) !important;
}

.u-margin--xsmall { --u-margin: var(--space-xsmall); }

.u-margin--small { --u-margin: var(--space-small); }

.u-margin--large { --u-margin: var(--space-large); }

.u-margin--xlarge { --u-margin: var(--space-xlarge); }

.u-margin--xxlarge { --u-margin: var(--space-xxlarge); }



.u-margin--xsmall,
.u-margin--small,
.u-margin--large,
.u-margin--xlarge,
.u-margin--xxlarge {

    &:not([class*="u-margin "]) {
        --error: ".u-margin class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add margin at top of element
 */

.u-margin-top {
    --u-margin-top: var(--space-medium);
    margin-top: var(--u-margin-top) !important;
}


.u-margin-top--xsmall { --u-margin-top: var(--space-xsmall); }

.u-margin-top--small { --u-margin-top: var(--space-small); }

.u-margin-top--large { --u-margin-top: var(--space-large); }

.u-margin-top--xlarge { --u-margin-top: var(--space-xlarge); }

.u-margin-top--xxlarge { --u-margin-top: var(--space-xxlarge); }



.u-margin-top--xsmall,
.u-margin-top--small,
.u-margin-top--large,
.u-margin-top--xlarge,
.u-margin-top--xxlarge {

    &:not([class*="u-margin-top "]) {
        --error: ".u-margin-top class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}




/**
 * Add margin at right of element
 */

.u-margin-right {
    --u-margin-right: var(--space-medium);
    margin-right: var(--u-margin-right) !important;
}


.u-margin-right--xsmall { --u-margin-right: var(--space-xsmall); }

.u-margin-right--small { --u-margin-right: var(--space-small); }

.u-margin-right--large { --u-margin-right: var(--space-large); }

.u-margin-right--xlarge { --u-margin-right: var(--space-xlarge); }

.u-margin-right--xxlarge { --u-margin-right: var(--space-xxlarge); }



.u-margin-right-xsmall,
.u-margin-right--small,
.u-margin-right--large,
.u-margin-right--xlarge,
.u-margin-right--xxlarge {

    &:not([class*="u-margin-right "]) {
        --error: ".u-margin-right class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add margin at bottom of element
 */

.u-margin-bottom {
    --u-margin-bottom: var(--space-medium);
    margin-bottom: var(--u-margin-bottom) !important;
}


.u-margin-bottom--xsmall { --u-margin-bottom: var(--space-xsmall); }

.u-margin-bottom--small { --u-margin-bottom: var(--space-small); }

.u-margin-bottom--large { --u-margin-bottom: var(--space-large); }

.u-margin-bottom--xlarge { --u-margin-bottom: var(--space-xlarge); }

.u-margin-bottom--xxlarge { --u-margin-bottom: var(--space-xxlarge); }



.u-margin-bottom-xsmall,
.u-margin-bottom--small,
.u-margin-bottom--large,
.u-margin-bottom--xlarge,
.u-margin-bottom--xxlarge {

    &:not([class*="u-margin-bottom "]) {
        --error: ".u-margin-bottom class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add margin at left of element
 */

.u-margin-left {
    --u-margin-left: var(--space-medium);
    margin-left: var(--u-margin-left) !important;
}


.u-margin-left--xsmall { --u-margin-left: var(--space-xsmall); }

.u-margin-left--small { --u-margin-left: var(--space-small); }

.u-margin-left--large { --u-margin-left: var(--space-large); }

.u-margin-left--xlarge { --u-margin-left: var(--space-xlarge); }

.u-margin-left--xxlarge { --u-margin-left: var(--space-xxlarge); }



.u-margin-left-xsmall,
.u-margin-left--small,
.u-margin-left--large,
.u-margin-left--xlarge,
.u-margin-left--xxlarge {

    &:not([class*="u-margin-left "]) {
        --error: ".u-margin-left class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add margin around element
 *
 *    <div class="u-margin">...</div>
 *    <div class="u-margin u-margin--large">...</div>
 */

.u-margin {
    --u-margin: var(--space-medium);
    margin-top: var(--u-margin) !important;
    margin-right: var(--u-margin) !important;
    margin-bottom: var(--u-margin) !important;
    margin-left: var(--u-margin) !important;
}

.u-margin--xsmall { --u-margin: var(--space-xsmall); }

.u-margin--small { --u-margin: var(--space-small); }

.u-margin--large { --u-margin: var(--space-large); }

.u-margin--xlarge { --u-margin: var(--space-xlarge); }

.u-margin--xxlarge { --u-margin: var(--space-xxlarge); }



.u-margin--xsmall,
.u-margin--small,
.u-margin--large,
.u-margin--xlarge,
.u-margin--xxlarge {

    &:not([class*="u-margin "]) {
        --error: ".u-margin class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add margin at top of element
 */

.u-margin-top {
    --u-margin-top: var(--space-medium);
    margin-top: var(--u-margin-top) !important;
}


.u-margin-top--xsmall { --u-margin-top: var(--space-xsmall); }

.u-margin-top--small { --u-margin-top: var(--space-small); }

.u-margin-top--large { --u-margin-top: var(--space-large); }

.u-margin-top--xlarge { --u-margin-top: var(--space-xlarge); }

.u-margin-top--xxlarge { --u-margin-top: var(--space-xxlarge); }



.u-margin-top--xsmall,
.u-margin-top--small,
.u-margin-top--large,
.u-margin-top--xlarge,
.u-margin-top--xxlarge {

    &:not([class*="u-margin-top "]) {
        --error: ".u-margin-top class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}




/**
 * Add margin at right of element
 */

.u-margin-right {
    --u-margin-right: var(--space-medium);
    margin-right: var(--u-margin-right) !important;
}


.u-margin-right--xsmall { --u-margin-right: var(--space-xsmall); }

.u-margin-right--small { --u-margin-right: var(--space-small); }

.u-margin-right--large { --u-margin-right: var(--space-large); }

.u-margin-right--xlarge { --u-margin-right: var(--space-xlarge); }

.u-margin-right--xxlarge { --u-margin-right: var(--space-xxlarge); }



.u-margin-right-xsmall,
.u-margin-right--small,
.u-margin-right--large,
.u-margin-right--xlarge,
.u-margin-right--xxlarge {

    &:not([class*="u-margin-right "]) {
        --error: ".u-margin-right class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add margin at bottom of element
 */

.u-margin-bottom {
    --u-margin-bottom: var(--space-medium);
    margin-bottom: var(--u-margin-bottom) !important;
}


.u-margin-bottom--xsmall { --u-margin-bottom: var(--space-xsmall); }

.u-margin-bottom--small { --u-margin-bottom: var(--space-small); }

.u-margin-bottom--large { --u-margin-bottom: var(--space-large); }

.u-margin-bottom--xlarge { --u-margin-bottom: var(--space-xlarge); }

.u-margin-bottom--xxlarge { --u-margin-bottom: var(--space-xxlarge); }



.u-margin-bottom-xsmall,
.u-margin-bottom--small,
.u-margin-bottom--large,
.u-margin-bottom--xlarge,
.u-margin-bottom--xxlarge {

    &:not([class*="u-margin-bottom "]) {
        --error: ".u-margin-bottom class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add margin at left of element
 */

.u-margin-left {
    --u-margin-left: var(--space-medium);
    margin-left: var(--u-margin-left) !important;
}


.u-margin-left--xsmall { --u-margin-left: var(--space-xsmall); }

.u-margin-left--small { --u-margin-left: var(--space-small); }

.u-margin-left--large { --u-margin-left: var(--space-large); }

.u-margin-left--xlarge { --u-margin-left: var(--space-xlarge); }

.u-margin-left--xxlarge { --u-margin-left: var(--space-xxlarge); }



.u-margin-left-xsmall,
.u-margin-left--small,
.u-margin-left--large,
.u-margin-left--xlarge,
.u-margin-left--xxlarge {

    &:not([class*="u-margin-left "]) {
        --error: ".u-margin-left class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add padding around element
 *
 *    <div class="u-padding">...</div>
 *    <div class="u-padding u-padding--large">...</div>
 */

.u-padding {
    --u-padding: var(--space-medium);
    padding-top: var(--u-padding) !important;
    padding-right: var(--u-padding) !important;
    padding-bottom: var(--u-padding) !important;
    padding-left: var(--u-padding) !important;
}

.u-padding--xsmall { --u-padding: var(--space-xsmall); }

.u-padding--small { --u-padding: var(--space-small); }

.u-padding--large { --u-padding: var(--space-large); }

.u-padding--xlarge { --u-padding: var(--space-xlarge); }

.u-padding--xxlarge { --u-padding: var(--space-xxlarge); }



.u-padding--xsmall,
.u-padding--small,
.u-padding--large,
.u-padding--xlarge,
.u-padding--xxlarge {

    &:not([class*="u-padding "]) {
        --error: ".u-padding class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add padding at top of element
 */

.u-padding-top {
    --u-padding-top: var(--space-medium);
    padding-top: var(--u-padding-top) !important;
}


.u-padding-top--xsmall { --u-padding-top: var(--space-xsmall); }

.u-padding-top--small { --u-padding-top: var(--space-small); }

.u-padding-top--large { --u-padding-top: var(--space-large); }

.u-padding-top--xlarge { --u-padding-top: var(--space-xlarge); }

.u-padding-top--xxlarge { --u-padding-top: var(--space-xxlarge); }



.u-padding-top--xsmall,
.u-padding-top--small,
.u-padding-top--large,
.u-padding-top--xlarge,
.u-padding-top--xxlarge {

    &:not([class*="u-padding-top "]) {
        --error: ".u-padding-top class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}




/**
 * Add padding at right of element
 */

.u-padding-right {
    --u-padding-right: var(--space-medium);
    padding-right: var(--u-padding-right) !important;
}


.u-padding-right--xsmall { --u-padding-right: var(--space-xsmall); }

.u-padding-right--small { --u-padding-right: var(--space-small); }

.u-padding-right--large { --u-padding-right: var(--space-large); }

.u-padding-right--xlarge { --u-padding-right: var(--space-xlarge); }

.u-padding-right--xxlarge { --u-padding-right: var(--space-xxlarge); }



.u-padding-right-xsmall,
.u-padding-right--small,
.u-padding-right--large,
.u-padding-right--xlarge,
.u-padding-right--xxlarge {

    &:not([class*="u-padding-right "]) {
        --error: ".u-padding-right class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add padding at bottom of element
 */

.u-padding-bottom {
    --u-padding-bottom: var(--space-medium);
    padding-bottom: var(--u-padding-bottom) !important;
}


.u-padding-bottom--xsmall { --u-padding-bottom: var(--space-xsmall); }

.u-padding-bottom--small { --u-padding-bottom: var(--space-small); }

.u-padding-bottom--large { --u-padding-bottom: var(--space-large); }

.u-padding-bottom--xlarge { --u-padding-bottom: var(--space-xlarge); }

.u-padding-bottom--xxlarge { --u-padding-bottom: var(--space-xxlarge); }



.u-padding-bottom-xsmall,
.u-padding-bottom--small,
.u-padding-bottom--large,
.u-padding-bottom--xlarge,
.u-padding-bottom--xxlarge {

    &:not([class*="u-padding-bottom "]) {
        --error: ".u-padding-bottom class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add padding at left of element
 */

.u-padding-left {
    --u-padding-left: var(--space-medium);
    padding-left: var(--u-padding-left) !important;
}


.u-padding-left--xsmall { --u-padding-left: var(--space-xsmall); }

.u-padding-left--small { --u-padding-left: var(--space-small); }

.u-padding-left--large { --u-padding-left: var(--space-large); }

.u-padding-left--xlarge { --u-padding-left: var(--space-xlarge); }

.u-padding-left--xxlarge { --u-padding-left: var(--space-xxlarge); }



.u-padding-left-xsmall,
.u-padding-left--small,
.u-padding-left--large,
.u-padding-left--xlarge,
.u-padding-left--xxlarge {

    &:not([class*="u-padding-left "]) {
        --error: ".u-padding-left class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add padding around element
 *
 *    <div class="u-padding">...</div>
 *    <div class="u-padding u-padding--large">...</div>
 */

.u-padding {
    --u-padding: var(--space-medium);
    padding-top: var(--u-padding) !important;
    padding-right: var(--u-padding) !important;
    padding-bottom: var(--u-padding) !important;
    padding-left: var(--u-padding) !important;
}

.u-padding--xsmall { --u-padding: var(--space-xsmall); }

.u-padding--small { --u-padding: var(--space-small); }

.u-padding--large { --u-padding: var(--space-large); }

.u-padding--xlarge { --u-padding: var(--space-xlarge); }

.u-padding--xxlarge { --u-padding: var(--space-xxlarge); }



.u-padding--xsmall,
.u-padding--small,
.u-padding--large,
.u-padding--xlarge,
.u-padding--xxlarge {

    &:not([class*="u-padding "]) {
        --error: ".u-padding class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add padding at top of element
 */

.u-padding-top {
    --u-padding-top: var(--space-medium);
    padding-top: var(--u-padding-top) !important;
}


.u-padding-top--xsmall { --u-padding-top: var(--space-xsmall); }

.u-padding-top--small { --u-padding-top: var(--space-small); }

.u-padding-top--large { --u-padding-top: var(--space-large); }

.u-padding-top--xlarge { --u-padding-top: var(--space-xlarge); }

.u-padding-top--xxlarge { --u-padding-top: var(--space-xxlarge); }



.u-padding-top--xsmall,
.u-padding-top--small,
.u-padding-top--large,
.u-padding-top--xlarge,
.u-padding-top--xxlarge {

    &:not([class*="u-padding-top "]) {
        --error: ".u-padding-top class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}




/**
 * Add padding at right of element
 */

.u-padding-right {
    --u-padding-right: var(--space-medium);
    padding-right: var(--u-padding-right) !important;
}


.u-padding-right--xsmall { --u-padding-right: var(--space-xsmall); }

.u-padding-right--small { --u-padding-right: var(--space-small); }

.u-padding-right--large { --u-padding-right: var(--space-large); }

.u-padding-right--xlarge { --u-padding-right: var(--space-xlarge); }

.u-padding-right--xxlarge { --u-padding-right: var(--space-xxlarge); }



.u-padding-right-xsmall,
.u-padding-right--small,
.u-padding-right--large,
.u-padding-right--xlarge,
.u-padding-right--xxlarge {

    &:not([class*="u-padding-right "]) {
        --error: ".u-padding-right class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add padding at bottom of element
 */

.u-padding-bottom {
    --u-padding-bottom: var(--space-medium);
    padding-bottom: var(--u-padding-bottom) !important;
}


.u-padding-bottom--xsmall { --u-padding-bottom: var(--space-xsmall); }

.u-padding-bottom--small { --u-padding-bottom: var(--space-small); }

.u-padding-bottom--large { --u-padding-bottom: var(--space-large); }

.u-padding-bottom--xlarge { --u-padding-bottom: var(--space-xlarge); }

.u-padding-bottom--xxlarge { --u-padding-bottom: var(--space-xxlarge); }



.u-padding-bottom-xsmall,
.u-padding-bottom--small,
.u-padding-bottom--large,
.u-padding-bottom--xlarge,
.u-padding-bottom--xxlarge {

    &:not([class*="u-padding-bottom "]) {
        --error: ".u-padding-bottom class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}





/**
 * Add padding at left of element
 */

.u-padding-left {
    --u-padding-left: var(--space-medium);
    padding-left: var(--u-padding-left) !important;
}


.u-padding-left--xsmall { --u-padding-left: var(--space-xsmall); }

.u-padding-left--small { --u-padding-left: var(--space-small); }

.u-padding-left--large { --u-padding-left: var(--space-large); }

.u-padding-left--xlarge { --u-padding-left: var(--space-xlarge); }

.u-padding-left--xxlarge { --u-padding-left: var(--space-xxlarge); }



.u-padding-left-xsmall,
.u-padding-left--small,
.u-padding-left--large,
.u-padding-left--xlarge,
.u-padding-left--xxlarge {

    &:not([class*="u-padding-left "]) {
        --error: ".u-padding-left class is missing";
        cursor: help;
        outline: map(borders, width, thick) solid map(colors, primary, dark);
    }
}

