/* ==========================================================================
   #FONT-STYLE
   ========================================================================== */

/**
 * 1. More readable headings
 *    see http://practice.typekit.com/lesson/caring-about-opentype-features/
 */

.u-h1,
.u-h2,
.u-h3,
.u-h4,
.u-h5,
.u-h6 {
    font-weight: map(fonts, heading, bold);
    font-family: map(fonts, heading, family);
    font-kerning: normal; /* [1] */
    line-height: map(fonts, heading, line-height);

    margin-top: 1.5em;
    margin-bottom: .5em;

    font-feature-settings: "kern", "liga", "clig", "calt", "dlig"; /* [1] */
    font-variant-ligatures: common-ligatures, contextual,
        discretionary-ligatures; /* [1] */
}

.u-h1 {
    font-size: var(--typography-scale-3);
}

.u-h2 {
    font-size: var(--typography-scale-2);
}

.u-h3 {
    font-size: var(--typography-scale-1);
}

.u-h4 {
    font-size: var(--typography-scale-base);
}

.u-h5 {
    font-size: var(--typography-scale-small);
}

.u-h6 {
    font-size: var(--typography-scale-small);
}

