/* ==========================================================================
   #BACKGROUND-COLOR
   ========================================================================== */

.u-background-color-neutral--darkest {
    background-color: var(--color-neutral--darkest) !important;
}

.u-background-color-neutral--darker {
    background-color: var(--color-neutral--darker) !important;
}

.u-background-color-neutral--dark {
    background-color: var(--color-neutral--dark) !important;
}

.u-background-color-neutral {
    background-color: var(--color-neutral) !important;
}

.u-background-color-neutral--light {
    background-color: var(--color-neutral--light) !important;
}

.u-background-color-neutral--lighter {
    background-color: var(--color-neutral--lighter) !important;
}

.u-background-color-neutral--lightest {
    background-color: var(--color-neutral--lightest) !important;
}
