/* ==========================================================================
   #ANCHORS
   ========================================================================== */

a {
    color: var(--global-secondary-color);
    text-decoration: none;

    border-bottom: .125em solid var(--global-primary-color);

    &:hover {
        color: var(--global-primary-color);
    }

    &:visited {
        color: map(colors, special, visited);
    }

    &:focus {
        color: map(colors, text, base);

        background-color: map(colors, special, focus);
        outline: map(borders, width, thicker) solid map(colors, special, focus);
    }
}
