/* ==========================================================================
   #ANCHORS
   ========================================================================== */

/**
 * Anchors
 *
 * 1. When the website is printed, the url is visible
 */

a {
    --text-color: map(colors, text, base);
    --background-color: transparent;

    color: var(--text-color);

    background-color: var(--background-color);
    outline: map(borders, width, thicker) solid var(--background-color);
    text-decoration-skip: ink;

    &:hover,
    &.is-hover {
        --background-color: map(colors, primary, base);
    }

    &:visited,
    &.is-visited {
        --text-color: map(colors, special-states, visited);
    }

    &:focus,
    &.is-focus {
        --background-color: map(colors, special-states, focus);
    }

    @media print {

        &::after {
            content: "("attr(href) ")"; /* [1] */
        }
    }
}
