

<header>
    <ul>
        <li><a href="#" accesskey="h" title="Homepage">alienlebarge.ch</a></li>
        <li><a href="#nav" accesskey="n" title="Navigation">Nav<span class="u-visually-hidden">igation</span></a></li>
        <li class="u-visually-hidden"><a href="#main" accesskey="m" title="Main content">Main content</a></li>
        <li class="u-visually-hidden"><a href="#footer" accesskey="f" title="Footer">Footer</a></li>
    </ul>
</header>

<main id="main">
    <h1>Heading level 1</h1>

    <p>Ex repellendus expedita architecto. Eius omnis labore est numquam vero optio. Suscipit in dolorum autem itaque occaecati maxime.</p>

    <figure>
  <img src="https://source.unsplash.com/random/800x600" alt="An image">

  <figcaption>This is a caption</figcaption>
</figure>

    <p>Ex repellendus expedita architecto. Eius omnis labore est numquam vero optio. Suscipit in dolorum autem itaque occaecati maxime.</p>

</main>
<nav>
    <h2>Navigation</h2>
    <ol>
        <li><a href="#">page 1</a></li>
        <li><a href="#">page 2</a></li>
        <li><a href="#">page 3</a></li>
    </ol>
</nav>

<footer>
    <p>This is the footer</p>
</footer>


