

<header class="u-background-color--quaternary-base u-text-color--text-inverse
        u-padding c-header">
    <h2 class="u-visually-hidden">Skip links</h2>
<ul class="o-list-bare c-skip-links">
  <li class="o-list-bare__item">
    <a href="#"
       class="u-h3"
       accesskey="h"
       title="Homepage">alienlebarge.ch</a>
  </li>
  <li class="o-list-bare__item">
    <a href="#nav"
       class="u-h3"
       accesskey="n"
       title="Navigation">
      Nav<span class="u-visually-hidden">igation</span><span aria-hidden="true">&#8595;</span>
    </a>
  </li>
  <li class="o-list-bare__item u-visually-hidden">
    <a href="#main"
       accesskey="m"
       title="Main content">Main content</a>
  </li>
  <li class="o-list-bare__item u-visually-hidden">
    <a href="#footer"
       accesskey="f"
       title="Footer">Footer</a>
  </li>
</ul>

</header>

<main id="main">
    <h1>Title of the page</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt eius animi officia beatae amet minima nobis ullam molestiae eos vitae exercitationem, molestias expedita debitis corporis totam incidunt aspernatur doloremque nisi itaque doloribus sed fugit quis! Minus, odio at ut eius velit deleniti error quia, rerum recusandae delectus reprehenderit quaerat nulla nostrum itaque ipsum non nesciunt aut modi neque sed nisi deserunt tenetur. Magnam natus ullam sunt maxime provident quos perspiciatis iste repudiandae, necessitatibus, repellat eius, architecto, consequatur. Maxime, voluptatem! Expedita pariatur quas mollitia, architecto voluptates. Aspernatur, molestias modi praesentium numquam corrupti eius eligendi iure nulla quaerat quod sapiente dolores debitis consectetur laudantium. Quam odio voluptates, minima dolores atque nihil voluptate placeat similique sapiente soluta, architecto! Molestiae officiis, deleniti possimus nemo.</p>

    
</main>
<nav id="nav" class="u-background-color--primary-base c-main-nav">
    <h2>Navigation</h2>
    <ol class="o-list-bare c-main-nav__list">
    
        <li class="o-list-bare__item">
            <a href="homepage" class="u-h3 u-margin-right">Homepage</a>
        </li>
    
        <li class="o-list-bare__item">
            <a href="articles" class="u-h3 u-margin-right">Articles</a>
        </li>
    
        <li class="o-list-bare__item">
            <a href="resume" class="u-h3 u-margin-right">Resume</a>
        </li>
    
    </ol>
</nav>

<footer class="u-background-color--quaternary-base u-text-color--text-inverse">
    <h2>Footer</h2>
    <p>This is the footer</p>
</footer>


