

<header>
    <p>This is the header</p>
</header>

<main>
    <h1>Heading level 1</h1>

    <p>Id esse assumenda placeat ut commodi maxime eaque quaerat velit. Nesciunt amet autem est ullam sunt. Et eos sint asperiores rerum est. Fugit aspernatur est facere doloribus recusandae. Commodi est id vel maxime praesentium repudiandae ut. Exercitationem velit perferendis sit.</p>

</main>
<nav>
    <h2>Navigation</h2>
    <ol>
        <li><a href="#">page 1</a></li>
        <li><a href="#">page 2</a></li>
        <li><a href="#">page 3</a></li>
    </ol>
</nav>

<footer>
    <p>This is the footer</p>
</footer>


