

<header>
    <p>This is the header</p>
</header>

<main>
    <h1>Heading level 1</h1>

    <p>Ut officia ratione facilis voluptates officia sint nulla voluptates. Eaque temporibus quod exercitationem voluptatem. Aut consequatur corporis accusantium aliquam sint molestias dignissimos aspernatur. Laudantium minus dolor. Ad corrupti quo eum libero nisi dolor minus. Et veritatis et ratione perferendis.</p>

</main>
<nav>
    <h2>Navigation</h2>
    <ol>
        <li><a href="#">page 1</a></li>
        <li><a href="#">page 2</a></li>
        <li><a href="#">page 3</a></li>
    </ol>
</nav>

<footer>
    <p>This is the footer</p>
</footer>


