

<ul class="o-list-inline"><li class="o-list-inline__item">Deleniti et dolorem molestiae fugiat dignissimos perferendis consequuntur soluta.</li><li class="o-list-inline__item">Omnis mollitia ipsum accusantium eum quod eum eveniet.</li><li class="o-list-inline__item">Illo incidunt ut qui facere placeat sed.</li><li class="o-list-inline__item">Atque placeat quas aut laudantium sed reprehenderit qui porro error.</li><li class="o-list-inline__item">Molestias alias cupiditate delectus nostrum consectetur est qui a perferendis.</li></ul>

