

<ul class="o-list-bare"><li class="o-list-bare__item">Deleniti et dolorem molestiae fugiat dignissimos perferendis consequuntur soluta.</li><li class="o-list-bare__item">Omnis mollitia ipsum accusantium eum quod eum eveniet.</li><li class="o-list-bare__item">Illo incidunt ut qui facere placeat sed.</li><li class="o-list-bare__item">Atque placeat quas aut laudantium sed reprehenderit qui porro error.</li><li class="o-list-bare__item">Molestias alias cupiditate delectus nostrum consectetur est qui a perferendis.</li></ul>

