

<ul class="o-list-bare"><li class="o-list-bare__item">Possimus est sunt repudiandae velit saepe velit nostrum rerum reprehenderit.</li><li class="o-list-bare__item">Inventore est rerum iusto dolor earum et doloribus laudantium est.</li><li class="o-list-bare__item">Laudantium ipsa reprehenderit laboriosam sit et cupiditate.</li><li class="o-list-bare__item">Dignissimos et similique porro vel hic est illo quae quos.</li><li class="o-list-bare__item">Sit sunt laudantium non ipsum quo.</li></ul>

