

<ul class="o-list-inline"><li class="o-list-inline__item">Dolor et non veniam cupiditate repellat.</li><li class="o-list-inline__item">Vitae rerum et aut et deleniti vel sequi incidunt omnis.</li><li class="o-list-inline__item">Perferendis et perspiciatis quae rerum amet molestiae molestiae et asperiores.</li><li class="o-list-inline__item">Perferendis quidem enim doloribus perferendis id necessitatibus est possimus.</li><li class="o-list-inline__item">Suscipit sunt odio et qui ea cumque repudiandae dolor minus.</li></ul>

