

<nav id="nav" class="u-background-color--primary-light
    u-padding-vertical">
    <h2 class="u-margin-top">Navigation</h2>
    <ol class="o-list-inline">
    
        <li class="o-list-inline__item">
            <a href="homepage" class="c-link u-margin-right">Homepage</a>
        </li>
    
        <li class="o-list-inline__item">
            <a href="articles" class="c-link u-margin-right">Articles</a>
        </li>
    
        <li class="o-list-inline__item">
            <a href="resume" class="c-link u-margin-right">Resume</a>
        </li>
    
    </ol>
</nav>

