

<nav id="nav" class="u-background-color--primary-base c-main-nav">
    <h2>Navigation</h2>
    <ol class="o-list-bare c-main-nav__list">
    
        <li class="o-list-bare__item">
            <a href="homepage" class="u-h3 u-margin-right">Homepage</a>
        </li>
    
        <li class="o-list-bare__item">
            <a href="articles" class="u-h3 u-margin-right">Articles</a>
        </li>
    
        <li class="o-list-bare__item">
            <a href="resume" class="u-h3 u-margin-right">Resume</a>
        </li>
    
    </ol>
</nav>

