

<div class="c-prose">
    <h1>La Venoge</h1>

    <p>La Venoge est un poème écrit en juillet 1954 à Port Manec'h par Jean Villard (dit Gilles) et qui personnalise avec tendresse une rivière de son pays vaudois, la Venoge.</p>


    <h2>Description</h2>

    <p>Ce texte chante non seulement la rivière du même nom, mais plus largement l’attachement à un terroir, si bien que le public parisien réuni rue de l’Opéra au cabaret « Chez Gilles » l’ovationne  comme si c’était leurs racines que le poème célébrait. On comprend dès lors pourquoi Jacques Brel, présent dans la salle, dit y avoir trouvé le courage d’écrire son Le Plat Pays, avec la même visée. Plus largement, une dédicace du Belge témoigne de l’ascendant du poète suisse sur son cadet : « À Gilles, mon maître depuis toujours, humblement, sincèrement ». </p>

    <figure>
  <img src="https://unsplash.it/800/600" alt="An image">

  <figcaption>This is a caption</figcaption>

</figure>

    <p>Constitué de sept strophes octosyllabiques (sauf le douzième et dernier vers de chacune qui est un refrain de deux mots, ceux du titre), alternant adéquatement rimes suivies et embrassées, ce poème vante l’esprit fantasque de ce cours d’eau issu du Jura qui coule d’abord vers « les Allemagnes » avant de buter contre la barrière rocheuse du Mormont, de s’aviser que le sud a ses avantages et de « se fondre amoureusement entre les bras du bleu Léman. »</p>

    <p>Malicieusement, Gilles feint la grandiloquence que voudrait adopter les riverains fiers d’un « fleuve » vaudois de bout en bout, avant de nous ramener à la sage modestie qui convient à un canton dont les habitants sont comme elle :</p>

    <blockquote>
    <p>Tranquille, pas bien décidée, Elle tient le juste milieu, Elle dit : qui ne peut ne peut, Mais elle fait à son idée.</p>

    <footer>
        <cite cite="https://fr.wikipedia.org/wiki/Jean_Villard#Citations">Jean Villard</cite>
    </footer>
</blockquote>


    <h3>Heading level 3</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque atque esse. Quam placeat iste et omnis. Itaque amet, quam.</p>


    <h4>Heading level 4</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque atque esse. Quam placeat iste et omnis. Itaque amet, quam.</p>


    <h5>Heading level 5</h5>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque atque esse. Quam placeat iste et omnis. Itaque amet, quam.</p>


    <h6>Heading level 6</h6>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eaque atque esse. Quam placeat iste et omnis. Itaque amet, quam.</p>

</div>

