

<h2 class="u-visually-hidden">Skip links</h2>
<ul class="o-list-bare c-skip-links">
  <li class="o-list-bare__item">
    <a href="#"
       class="u-h3"
       accesskey="h"
       title="Homepage">alienlebarge.ch</a>
  </li>
  <li class="o-list-bare__item">
    <a href="#nav"
       class="u-h3"
       accesskey="n"
       title="Navigation">
      Nav<span class="u-visually-hidden">igation</span><span aria-hidden="true">&#8595;</span>
    </a>
  </li>
  <li class="o-list-bare__item u-visually-hidden">
    <a href="#main"
       accesskey="m"
       title="Main content">Main content</a>
  </li>
  <li class="o-list-bare__item u-visually-hidden">
    <a href="#footer"
       accesskey="f"
       title="Footer">Footer</a>
  </li>
</ul>

