




    <div class="u-margin u-margin--xsmall">
    margin
    
    xsmall
    </div>

    <div class="u-margin u-margin--small">
    margin
    
    small
    </div>

    <div class="u-margin u-margin">
    margin
    
    
    </div>

    <div class="u-margin u-margin--large">
    margin
    
    large
    </div>

    <div class="u-margin u-margin--xlarge">
    margin
    
    xlarge
    </div>



    <div class="u-margin-top u-margin-top--xsmall">
    margin
    top
    xsmall
    </div>

    <div class="u-margin-top u-margin-top--small">
    margin
    top
    small
    </div>

    <div class="u-margin-top u-margin-top">
    margin
    top
    
    </div>

    <div class="u-margin-top u-margin-top--large">
    margin
    top
    large
    </div>

    <div class="u-margin-top u-margin-top--xlarge">
    margin
    top
    xlarge
    </div>



    <div class="u-margin-right u-margin-right--xsmall">
    margin
    right
    xsmall
    </div>

    <div class="u-margin-right u-margin-right--small">
    margin
    right
    small
    </div>

    <div class="u-margin-right u-margin-right">
    margin
    right
    
    </div>

    <div class="u-margin-right u-margin-right--large">
    margin
    right
    large
    </div>

    <div class="u-margin-right u-margin-right--xlarge">
    margin
    right
    xlarge
    </div>



    <div class="u-margin-bottom u-margin-bottom--xsmall">
    margin
    bottom
    xsmall
    </div>

    <div class="u-margin-bottom u-margin-bottom--small">
    margin
    bottom
    small
    </div>

    <div class="u-margin-bottom u-margin-bottom">
    margin
    bottom
    
    </div>

    <div class="u-margin-bottom u-margin-bottom--large">
    margin
    bottom
    large
    </div>

    <div class="u-margin-bottom u-margin-bottom--xlarge">
    margin
    bottom
    xlarge
    </div>



    <div class="u-margin-left u-margin-left--xsmall">
    margin
    left
    xsmall
    </div>

    <div class="u-margin-left u-margin-left--small">
    margin
    left
    small
    </div>

    <div class="u-margin-left u-margin-left">
    margin
    left
    
    </div>

    <div class="u-margin-left u-margin-left--large">
    margin
    left
    large
    </div>

    <div class="u-margin-left u-margin-left--xlarge">
    margin
    left
    xlarge
    </div>



    <div class="u-margin-vertical u-margin-vertical--xsmall">
    margin
    vertical
    xsmall
    </div>

    <div class="u-margin-vertical u-margin-vertical--small">
    margin
    vertical
    small
    </div>

    <div class="u-margin-vertical u-margin-vertical">
    margin
    vertical
    
    </div>

    <div class="u-margin-vertical u-margin-vertical--large">
    margin
    vertical
    large
    </div>

    <div class="u-margin-vertical u-margin-vertical--xlarge">
    margin
    vertical
    xlarge
    </div>



    <div class="u-margin-horizontal u-margin-horizontal--xsmall">
    margin
    horizontal
    xsmall
    </div>

    <div class="u-margin-horizontal u-margin-horizontal--small">
    margin
    horizontal
    small
    </div>

    <div class="u-margin-horizontal u-margin-horizontal">
    margin
    horizontal
    
    </div>

    <div class="u-margin-horizontal u-margin-horizontal--large">
    margin
    horizontal
    large
    </div>

    <div class="u-margin-horizontal u-margin-horizontal--xlarge">
    margin
    horizontal
    xlarge
    </div>





    <div class="u-padding u-padding--xsmall">
    padding
    
    xsmall
    </div>

    <div class="u-padding u-padding--small">
    padding
    
    small
    </div>

    <div class="u-padding u-padding">
    padding
    
    
    </div>

    <div class="u-padding u-padding--large">
    padding
    
    large
    </div>

    <div class="u-padding u-padding--xlarge">
    padding
    
    xlarge
    </div>



    <div class="u-padding-top u-padding-top--xsmall">
    padding
    top
    xsmall
    </div>

    <div class="u-padding-top u-padding-top--small">
    padding
    top
    small
    </div>

    <div class="u-padding-top u-padding-top">
    padding
    top
    
    </div>

    <div class="u-padding-top u-padding-top--large">
    padding
    top
    large
    </div>

    <div class="u-padding-top u-padding-top--xlarge">
    padding
    top
    xlarge
    </div>



    <div class="u-padding-right u-padding-right--xsmall">
    padding
    right
    xsmall
    </div>

    <div class="u-padding-right u-padding-right--small">
    padding
    right
    small
    </div>

    <div class="u-padding-right u-padding-right">
    padding
    right
    
    </div>

    <div class="u-padding-right u-padding-right--large">
    padding
    right
    large
    </div>

    <div class="u-padding-right u-padding-right--xlarge">
    padding
    right
    xlarge
    </div>



    <div class="u-padding-bottom u-padding-bottom--xsmall">
    padding
    bottom
    xsmall
    </div>

    <div class="u-padding-bottom u-padding-bottom--small">
    padding
    bottom
    small
    </div>

    <div class="u-padding-bottom u-padding-bottom">
    padding
    bottom
    
    </div>

    <div class="u-padding-bottom u-padding-bottom--large">
    padding
    bottom
    large
    </div>

    <div class="u-padding-bottom u-padding-bottom--xlarge">
    padding
    bottom
    xlarge
    </div>



    <div class="u-padding-left u-padding-left--xsmall">
    padding
    left
    xsmall
    </div>

    <div class="u-padding-left u-padding-left--small">
    padding
    left
    small
    </div>

    <div class="u-padding-left u-padding-left">
    padding
    left
    
    </div>

    <div class="u-padding-left u-padding-left--large">
    padding
    left
    large
    </div>

    <div class="u-padding-left u-padding-left--xlarge">
    padding
    left
    xlarge
    </div>



    <div class="u-padding-vertical u-padding-vertical--xsmall">
    padding
    vertical
    xsmall
    </div>

    <div class="u-padding-vertical u-padding-vertical--small">
    padding
    vertical
    small
    </div>

    <div class="u-padding-vertical u-padding-vertical">
    padding
    vertical
    
    </div>

    <div class="u-padding-vertical u-padding-vertical--large">
    padding
    vertical
    large
    </div>

    <div class="u-padding-vertical u-padding-vertical--xlarge">
    padding
    vertical
    xlarge
    </div>



    <div class="u-padding-horizontal u-padding-horizontal--xsmall">
    padding
    horizontal
    xsmall
    </div>

    <div class="u-padding-horizontal u-padding-horizontal--small">
    padding
    horizontal
    small
    </div>

    <div class="u-padding-horizontal u-padding-horizontal">
    padding
    horizontal
    
    </div>

    <div class="u-padding-horizontal u-padding-horizontal--large">
    padding
    horizontal
    large
    </div>

    <div class="u-padding-horizontal u-padding-horizontal--xlarge">
    padding
    horizontal
    xlarge
    </div>




