/* ==========================================================================
   #TEXT-COLOR
   ========================================================================== */

/**
 * Force color of text
 *
 * 1. Override visited color for a11y purpose
 */
.u-text-color {

    &--text-base {

        &,
        a {
            color: map(colors, text, base);
        }
    }

    &--text-inverse {

        &,
        a {
            --a__color-text: map(colors, text, inverse);

            &:visited,
            &.is-visited {
                --a__color-underline: var(--a__color-text); /* [1] */
            }
        }
    }
}

