/* ==========================================================================
   #BLOCKQUOTES
   ========================================================================== */

/**
 * 1. TODO: Check that it's the same the line-height.
 */
blockquote,
.blockquote {
    font-style: italic;

    padding-left: var(--space-medium); /* [1] */

    footer {
        max-width: var(--max-paragraph-length);
        text-align: right;
    }

    cite {
        font-size: map(fonts, small, font-size);

        &::before {
            content: "\2014\00a0";
        }
    }
}

.blockquote--quoted  {

    p {
        quotes: '“' '”' '‘' '’';
    }

    p::before {
        content: open-quote;
        margin-left: -0.5ch;
    }

    p::after {
        content: close-quote;
    }
}
