/* ==========================================================================
   #BLOCKQUOTES
   ========================================================================== */

blockquote {
    font-style: italic;

    border-left: map(borders, width, thicker) solid map(colors, text, base);
    padding-left: map(spaces, medium);

    cite {
        font-size: var(--global-small-font-size);

        &::before {
            content: "\2014\00a0";
        }
    }
}
