/* ==========================================================================
   #EMPHASIS
   ========================================================================== */

i,
em {
    --text-italic: 1;

    text-decoration: italic;
    font-variation-settings:
        "wght" var(--text-font-weight),
        "ital" var(--text-italic);
}
