{% extends '@default' %}
{% block main %}
    <h1>Cédric Aellen</h1>
    <h2>Hello !</h2>
    {% render '@paragraph' %}

    <h2>Derniers articles</h2>
    <ul>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur.</a> &mdash; <time>Décembre 2016</time></li>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur.</a> &mdash; <time>Décembre 2016</time></li>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur.</a> &mdash; <time>Décembre 2016</time></li>
    </ul>
    <p>See also <a href="articles">the whole list of pub­li­ca­tions.</a></p>
{% endblock %}
