/* ==========================================================================
   #ANCHORS
   ========================================================================== */

/**
 * Anchors
 *
 * 1. When the website is printed, the url is visible
 * 2. Make better underline
 */

a {
    --a__color-text: var(--color-text);
    --a__color-underline: var(--a__color-text);
    --a__color-background: transparent;

    color: var(--a__color-text);

    text-decoration: none; /* [2] */

    background-color: var(--a__color-background);
    border-bottom: 1px solid var(--a__color-underline); /* [2] */

    outline: map(borders, width, thicker) solid var(--a__color-background);

    &:hover,
    &.is-hover {
        --a__color-background: map(colors, primary, base);
    }

    &:visited,
    &.is-visited {
        --a__color-underline: map(colors, special-states, visited);
    }

    &:focus,
    &.is-focus {
        --a__color-background: map(colors, special-states, focus);
    }

    @media print {

        &::after {
            content: "("attr(href) ")"; /* [1] */
        }
    }
}

@supports (text-decoration-skip: ink) or (text-decoration-skip-ink: initial) {

    a {
        border-bottom: 0; /* [2] */

        text-decoration-color: var(--a__color-underline); /* [2] */
        text-decoration-line: underline; /* [2] */
        text-decoration-skip-ink: initial; /* [2] */
        text-decoration-style: solid; /* [2] */
    }
}
