/* ==========================================================================
   #ANCHORS
   ========================================================================== */

/**
 * Anchors
 *
 * 1. When the website is printed, the url is visible
 */

a {
    --color-background: transparent;

    color: var(--color-text);

    background-color: var(--color-background);
    outline: map(borders, width, thicker) solid var(--color-background);
    text-decoration-skip: ink;

    &:hover,
    &.is-hover {
        --color-background: map(colors, primary, base);
    }

    &:visited,
    &.is-visited {
        --color-text: map(colors, special-states, visited);
    }

    &:focus,
    &.is-focus {
        --color-background: map(colors, special-states, focus);
    }

    @media print {

        &::after {
            content: "("attr(href) ")"; /* [1] */
        }
    }
}
