/* ==========================================================================
   #ANCHORS
   ========================================================================== */

:root {
    --e-anchors__color: map(colors, secondary, base);
    --e-anchors__underline: map(colors, primary, base);
}

a {
    color: var(--e-anchors__color);
    text-decoration: none;

    border-bottom: map(borders, width, thick) solid var(--e-anchors__underline);

    &:hover {
        --e-anchors__color: map(colors, primary, base);
    }

    &:visited {
        --e-anchors__color: map(colors, special-states, visited);
    }

    &:focus {
        --e-anchors__color: map(colors, special-states, focus);

        background-color: map(colors, special-states, focus);
        outline: map(borders, width, thicker) solid
            map(colors, special-states, focus);
    }
}
