/* ==========================================================================
   #BLOCKQUOTES
   ========================================================================== */

blockquote {
    font-style: italic;

    border-left: map(borders, width, thicker) solid var(--color-text);
    padding-left: var(--space-medium);

    cite {
        font-size: map(fonts, small, font-size);

        &::before {
            content: "\2014\00a0";
        }
    }
}
