/* ==========================================================================
   #FONTS
   ========================================================================== */

/**
 * FF Nort
 */
@font-face {
    font-family: Nort;
    font-display: swap;
    src: url("../fonts/FFNORT/Nort-full-Regular.woff2") format("woff2"),
         url("../fonts/FFNORT/Nort-full-Regular.woff")  format("woff");
}

@font-face {
    font-weight: 700;
    font-family: Nort;
    font-display: swap;
    src: url("../fonts/FFNORT/Nort-full-Bold.woff2") format("woff2"),
         url("../fonts/FFNORT/Nort-full-Bold.woff")  format("woff");
}

@font-face {
    font-style: italic;
    font-family: Nort;
    font-display: swap;
    src: url("../fonts/FFNORT/Nort-full-Italic.woff2") format("woff2"),
         url("../fonts/FFNORT/Nort-full-Italic.woff")  format("woff");
}

@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: Nort;
    font-display: swap;
    src: url("../fonts/FFNORT/Nort-full-Bold-Italic.woff2") format("woff2"),
         url("../fonts/FFNORT/Nort-full-Bold-Italic.woff")  format("woff");
}

/**
 * FF Meta Variable Font
 */
@font-face {
    font-weight: 100 900;
    font-style: normal italic;
    font-family: "FF Meta VF";
    font-display: swap;
    src: url("../fonts/FFMetaVF/MetaVariable.woff2") format("woff2");
}

/**
 * Set fonts variables
 */
:root {
    --text-font-family: map(fonts, base, family);
    --text-font-weight: map(fonts, base, normal);
    --text-italic: 0;
    --text-line-height: map(fonts, base, line-height);
    --typography-scale-base: map(fonts, base, font-size);
    --typography-scale-3: calc(var(--typography-scale-base) * 1.75);
    --typography-scale-2: calc(var(--typography-scale-base) * 1.5);
    --typography-scale-1: calc(var(--typography-scale-base) * 1.2);
    --typography-scale-small: calc(var(--typography-scale-base) * .8);
}

