/* ==========================================================================
   #FONTS
   ========================================================================== */

/**
 * Set fonts variables
 *
 * 1. Use enhance fonts when loaded
 */
:root {
    --heading-font-family: map(fonts, system, family);
    --heading-font-weight--normal: map(fonts, heading, normal);
    --heading-font-weight--bold: map(fonts, heading, bold);

    --base-font-family: map(fonts, system, family);
    --base-font-weight--normal: map(fonts, base, normal);
    --base-font-weight--bold: map(fonts, base, bold);

    --small-font-size: map(fonts, small, font-size);

    --monospace-font-family: map(fonts, monospace, family);
}

html.wf-active {
    --heading-font-family: map(fonts, heading, family); /* [1] */
    --base-font-family: map(fonts, base, family); /* [1] */
}
