/* ========================================================================
   #CORE
   ======================================================================== */

:root {
    --global-font-size: 1.2em;
    --global-line-height: 1.5;
    --global-spacing-unit: calc(
        var(--global-font-size)
        * var(--global-line-height)
    );
}
