/* ==========================================================================
   #FONTS
   ========================================================================== */

/**
 * Set fonts variables
 *
 * 1. Use enhance fonts when loaded
 */
:root {
    --text-font-family: map(fonts, base, family);
    --text-font-weight--normal: map(fonts, base, normal);
    --text-font-weight--bold: map(fonts, base, bold);
    --text-italic: 0;
    --small-font-size: map(fonts, small, font-size);
    --monospace-font-family: map(fonts, monospace, family);
}

/**
 * FF Nort
 */
@font-face {
    font-family: Nort;
    font-display: swap;
    src: url("../fonts/FFNORT/Nort-full-Regular.woff2") format("woff2"),
         url("../fonts/FFNORT/Nort-full-Regular.woff")  format("woff");
}

@font-face {
    font-weight: 700;
    font-family: Nort;
    font-display: swap;
    src: url("../fonts/FFNORT/Nort-full-Bold.woff2") format("woff2"),
         url("../fonts/FFNORT/Nort-full-Bold.woff")  format("woff");
}

@font-face {
    font-style: italic;
    font-family: Nort;
    font-display: swap;
    src: url("../fonts/FFNORT/Nort-full-Italic.woff2") format("woff2"),
         url("../fonts/FFNORT/Nort-full-Italic.woff")  format("woff");
}

@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: Nort;
    font-display: swap;
    src: url("../fonts/FFNORT/Nort-full-Bold-Italic.woff2") format("woff2"),
         url("../fonts/FFNORT/Nort-full-Bold-Italic.woff")  format("woff");
}

/**
 * FF Meta Variable Font
 */
@font-face {
    font-weight: 100 900;
    font-style: normal italic;
    font-family: "FF Meta VF";
    font-display: swap;
    src: url("../fonts/FFMetaVF/MetaVariable.woff2") format("woff2");
}

:root {
    --typography-scale-base: map(fonts, base, font-size); /* 20px */
    --typography-scale-3: calc(var(--typography-scale-base) * 1.75); /* 33px */
    --typography-scale-2: calc(var(--typography-scale-base) * 1.5); /* 25px */
    --typography-scale-1: calc(var(--typography-scale-base) * 1.2); /* 21px */
    --typography-scale-small: calc(var(--typography-scale-base) * .875rem); /* 14px */

    @media (--desktop-and-up) {
        --typography-scale-3: 3.1875rem; /* 51px */
        --typography-scale-2: 2.2rem; /* 33px */
        --typography-scale-1: 1.5625rem; /* 25px */
        --typography-scale-base: 1.125rem; /* 18px */
        --typography-scale-small: 1rem; /* 16px */
    }

    @media (--wide-and-up) {
        --typography-scale-3: 4.875rem; /* 78px */
        --typography-scale-2: 2.75rem; /* 44px */
        --typography-scale-1: 1.75rem; /* 28px */
        --typography-scale-base: 1.3125rem; /* 21px */
        --typography-scale-small: 1.125rem; /* 18px */
    }
}
