/**
 * SETTINGS
 */

/* ========================================================================
   #CORE
   ======================================================================== */

:root {
    /**
     * Base Font
     *
     * 1. Default font settings
     * 2. Enhance font settings
     */ /* [1] */ /* [1] */ /* [1] */ /* [2] */ /* [2] */ /* [2] */

    /**
     * Headings font
     *
     * 1. Default font settings
     * 2. Enhance font settongs
     */ /* [1] */ /* [1] */ /* [1] */ /* [2] */ /* [2] */ /* [2] */

    /**
     * Font sizing
     *
     * 1. Min and max font size in the range
     * 2. Min and max line height in the range
     * 3. Range
     */ /* [1] */ /* [1] */ /* [2] */ /* [2] */ /* [3] */ /* [3] */

    /**
     * Colors
     */

    /**
     * Spacing
     */

    /**
     * Border
     */
}

/* ========================================================================
   #BREAKPOINTS
   ======================================================================== */

/* mobile */

/* tablet */

/* desktop */

/* wide */

/**
 * TOOLS
 */

/**
 * GENERIC
 */

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
    *::before,
    *::after {
        -webkit-box-sizing: inherit;
                box-sizing: inherit;
    }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/* ==========================================================================
   #RESET
   ========================================================================== */

/**
 * A very simple reset that sits on top of Normalize.css.
 */

/* stylelint-disable selector-list-comma-newline-after */

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
    margin: 0;
    padding: 0;
}

/* stylelint-enable selector-list-comma-newline-after */

/**
 * Remove trailing margins from nested lists.
 */

li > ol,
    li > ul {
        margin-bottom: 0;
    }

/**
 * Remove default table spacing.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */

fieldset {
    min-width: 0; /* [1] */

    border: 0;
}

/* ==========================================================================
   #SHARED
   ========================================================================== */

/**
 * Shared declarations for certain elements.
 */

/**
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */

/* stylelint-disable selector-list-comma-newline-after */

address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
    margin-bottom: 1rem;
}

/**
 * Consistent indentation for lists.
 */

dd, ol, ul {
    margin-left: 1rem;
}

/* stylelint-enable selector-list-comma-newline-after */

/**
 * TOOLS
 */

/* ========================================================================
   #TYPOGRAPHY
   ======================================================================== */

:root {
    /**
     * Mor readable bodytext
     * see http://practice.typekit.com/lesson/caring-about-opentype-features/
     */;





    /**
     * Mor readable headings
     * see http://practice.typekit.com/lesson/caring-about-opentype-features/
     */;





    /**
     * More readable sub text
     * see http://practice.typekit.com/lesson/caring-about-opentype-features/
     */;





    /**
     * OpenType feature for small caps
     * see http://practice.typekit.com/lesson/caring-about-opentype-features/
     *
     * 1. Safari iOs doesn't support `font-feature` so we use `text-transform`
     *    to make the texte uppercase. http://caniuse.com/#search=font-feature
     */;





    /**
     * OpenType feature for data
     * see http://practice.typekit.com/lesson/caring-about-opentype-features/
     */;
}

/**
 * ELEMENTS
 */

/* ==========================================================================
   #MAIN
   ========================================================================== */

/**
 * Main
 *
 * 1. Center content
 * 2. Figure in main will touch the border
 * 3. Figcaption in main won't touch the border
 */

main {
    max-width: 25em;

    margin-right: auto; /* [1] */
    margin-left: auto; /* [1] */
    padding: 1rem;
}

main figure {
    margin-right: -1rem; /* [2] */
    margin-left: -1rem; /* [2] */
}

main figure figcaption {
    margin-right: 1rem; /* [3] */
    margin-left: 1rem; /* [3] */
}

/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Ensure the page always fills at least the entire height of the viewport.
 * 2. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 3. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 */

html {
    min-height: 100%; /* [1] */ /* [2] */
    font-size: calc(1.2em + 0.8 * ((100vw - 30em) / 30)); /* [2] */
    line-height: calc(1.5em + 0.25 * ((100vw - 30em) / 30)); /* [2] */ /* [2] */
    color: rgba(51, 51, 51, 1);
    overflow-y: scroll; /* [3] */
  -webkit-font-variant-ligatures: common-ligatures, contextual;
          font-variant-ligatures: common-ligatures, contextual;
  font-variant-numeric: oldstyle-nums, proportional-nums;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
          font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
  -webkit-font-kerning: normal;
          font-kerning: normal;
}

@media screen and (min-width: 60em) {

    html {
        line-height: 1.75em;
    }
}

@media screen and (max-width: 30em) {

    html {
        line-height: 1.5em;
    }
}

@media screen and (min-width: 60em) {

    html {
        font-size: 2em;
    }
}

@media screen and (max-width: 30em) {

    html {
        font-size: 1.2em;
    }
}

html.wf-active {
    font-weight: 500;
    font-family: 'ff-meta-serif-web-pro', serif,
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, serif;
}

/* ==========================================================================
   #FIGCAPTION
   ========================================================================== */

figcaption {
    font-size: .8em;
    font-style: italic;
}

/* ==========================================================================
   #IMAGES
   ========================================================================== */

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */

img {
    max-width: 100%; /* [1] */

    font-style: italic; /* [2] */
    vertical-align: middle; /* [3] */
}

/**
 * 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */

img[width], /* [1] */
img[height] {  /* [1] */
    max-width: none;
}

/* ==========================================================================
   #LISTS
   ========================================================================== */

/**
 * Lists
 *
 * 1. Add margin on sublists.
 * 2. Make bullet smaller to fit the default list bullet size.
 * 3. Add bullet via unicode.
 * 4. Set a counter to display it as the li are no more list-items.
 */

@media screen and (max-width: 319px) {

    ul,
    ol {
        margin-left: 0;
    }

    ul ul,
    ol ol {
        margin-left: 1rem; /* [1] */
    }

    ul > li,
    ol > li {
        display: block;
    }

    ul > li::before {
        font-size: .8em; /* [2] */

        margin-right: calc(1rem / 4);
        content: "\2022"; /* [3] */
    }

    ol {
        counter-reset: section; /* [4] */
    }

    ol > li::before {
        margin-right: calc(1rem / 4);
        content: counters(section, ".") "."; /* [4] */
        counter-increment: section; /* [4] */
    }
}

/* ==========================================================================
   #TABLES
   ========================================================================== */

/**
 * 1. Ensure tables fill up as much space as possible.
 */

table {
    width: 100%; /* [1] */
  -webkit-font-variant-ligatures: common-ligatures, contextual;
          font-variant-ligatures: common-ligatures, contextual;
  font-variant-numeric: lining-nums, tabular-nums;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
          font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
  -webkit-font-kerning: normal;
          font-kerning: normal;
}

/* ==========================================================================
   #HEADINGS
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
        sans-serif;
    line-height: 1.2;

    margin-top: 1.5em;
    margin-bottom: .5em;
  -webkit-font-variant-ligatures: common-ligatures, contextual,
            discretionary-ligatures;
          font-variant-ligatures: common-ligatures, contextual,
            discretionary-ligatures;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
          font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
  -webkit-font-kerning: normal;
          font-kerning: normal;
}

h1 {
    font-size: 2.25em;

    border-bottom: .25em solid
        rgba(255, 230, 109, 1);
}

h2 {
    font-size: 1.75em;

    border-bottom: .25em solid
        rgba(255, 230, 109, 1);
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    font-size: 1em;
}

.wf-active h1,
    .wf-active h2,
    .wf-active h3,
    .wf-active h4,
    .wf-active h5,
    .wf-active h6 {
        font-weight: 500;
        font-family: 'reklame-script', sans-serif,
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
        sans-serif;
    }

/* ==========================================================================
   #ANCHORS
   ========================================================================== */

a {
    color: rgba(26, 83, 92, 1);
    text-decoration: none;

    border-bottom: .125em solid rgba(255, 107, 107, 1);
}

a:hover {
        color: rgba(255, 107, 107, 1);
    }

/* ==========================================================================
   #BLOCKQUOTES
   ========================================================================== */

blockquote {
    font-style: italic;

    border-left: .25em solid rgba(51, 51, 51, 1);
    padding-left: 1rem;
}

blockquote cite {
        font-size: .8em;
    }

blockquote cite::before {
            content: "\2014\00a0";
        }

main blockquote {
    margin-left: -1rem;
}

/**
 * OBJECTS
 */

/**
 * UTILITIES
 */

/* ========================================================================
   #TYPOGRAPHY
   ======================================================================== */

/**
 * Visually hidden
 *
 * Hide elements (e.g., a form label), but you still want to be read by a
 * screen reader.
 * https://developer.yahoo.com/blogs/ydn/
 * clip-hidden-content-better-accessibility-53456.html
 */

.u-visually-hidden {
    position: absolute !important;

    width: 1px !important;
    height: 1px !important;

    border: 0 !important;
    padding: 0 !important;
    /* stylelint-disable */
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    /* stylelint-enable */
    overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
