/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Ensure the page always fills at least the entire height of the viewport.
 * 2. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 3. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 4. Mor readable bodytext
 *    see http://practice.typekit.com/lesson/caring-about-opentype-features/
 */

html {
    min-height: 100%; /* [1] */

    font-size: var(--typography-scale-base); /* [2] */

    font-weight: var(--base-font-weight--normal);
    font-family: map(fonts, base, family), map(fonts, system, family); /* [2] */

    font-kerning: normal; /* [4] */
    line-height: map(fonts, base, line-height); /* [4] */

    color: rgba(51, 51, 51, 1);
    font-feature-settings: "kern", "liga", "clig", "calt", "onum",
        "pnum"; /* [2] */

    font-range: map(fonts, base, lower-typography-range)
        map(fonts, base, upper-typography-range);
    font-variant-ligatures: common-ligatures, contextual; /* [4] */
    font-variant-numeric: oldstyle-nums, proportional-nums; /* [4] */

    overflow-y: scroll; /* [3] */
}
