/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Ensure the page always fills at least the entire height of the viewport.
 * 2. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 3. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 4. Mor readable bodytext
 *    see http://practice.typekit.com/lesson/caring-about-opentype-features/
 */

html {
    min-height: 100%; /* [1] */

    /* [2] */
    font-size: responsive map(fonts, base, min-font-size)
        map(fonts, base, max-font-size);

    /* [2] */
    font-family: map(fonts, base, family);

    /* [4] */
    font-kerning: normal; /* [4] */
    line-height: responsive map(fonts, base, min-line-height)
        map(fonts, base, max-line-height);

    /* [2] */
    color: rgba(51, 51, 51, 1);
    font-feature-settings: "kern", "liga", "clig", "calt", "onum",
        "pnum";

    font-range: map(fonts, base, upper-typography-range)
        map(fonts, base, lower-typography-range);
    font-variant-ligatures: common-ligatures, contextual; /* [4] */
    font-variant-numeric: oldstyle-nums, proportional-nums; /* [4] */

    /* [2] */
    line-height-range: map(fonts, base, lower-typography-range)
        map(fonts, base, upper-typography-range);
    overflow-y: scroll; /* [3] */
}

html.wf-active {
    font-weight: map(fonts, base, normal);
    font-family: map(fonts, base, family);
}
