/* ==========================================================================
   #BLOCKQUOTES
   ========================================================================== */

blockquote {
    font-style: italic;

    border-left: normal solid rgba(51, 51, 51, 1);
    padding-left: var(--global-spacing-unit);

    cite {
        font-size: var(--global-small-font-size);

        &::before {
            content: "\2014\00a0";
        }
    }
}

main blockquote {
    margin-left: -var(--global-spacing-unit);
}
