/* ==========================================================================
   #LISTS
   ========================================================================== */

/**
 * Lists
 *
 * 1. Add margin on sublists.
 * 2. Add bullet via unicode.
 * 3. Make bullet smaller to fit the default list bullet size.
 * 4. Set a counter to display it as the li are no more list-items.
 */

@media (--palm) {
    ul,
    ol {
        margin-left: 0
    }

    ul ul,
    ol ol {
        margin-left: var(--global-spacing-unit); /* [1] */
    }

    ul > li,
    ol > li {
        display: block;
    }

    ul > li:before {
        content: "\2022"; /* [2] */
        margin-right: calc(var(--global-spacing-unit) / 2);
        font-size: 0.8em; /* [3] */
    }

    ol {
        counter-reset: section; /* [4] */
    }

    ol > li:before {
        counter-increment: section; /* [4] */
        content: counters(section,".") "."; /* [4] */
        margin-right: calc(var(--global-spacing-unit) / 2);
    }
}
