/* ==========================================================================
   #MAIN
   ========================================================================== */

/**
 * Main
 *
 * 1. Center content
 * 2. Figure in main will touch the border
 * 3. Figcaption in main won't touch the border
 */
main {
    max-width: 25em;

    margin-right: auto; /* [1] */
    margin-left: auto; /* [1] */
    padding: map(spaces, medium);
}

main figure {
    margin-right: -map(spaces, medium); /* [2] */
    margin-left: -map(spaces, medium); /* [2] */
}

main figure figcaption {
    margin-right: map(spaces, medium); /* [3] */
    margin-left: map(spaces, medium); /* [3] */
}
