/* ==========================================================================
   #FONTS
   ========================================================================== */

/**
 * Set fonts variables
 */
:root {
    /* Typography scales */
    --typography-scale-base: calc(1rem + .375vmin);
    --typography-scale-3: calc(var(--typography-scale-base) * 1.75);
    --typography-scale-2: calc(var(--typography-scale-base) * 1.4);
    --typography-scale-1: calc(var(--typography-scale-base) * 1.2);
    --typography-scale-s: calc( (var(--typography-scale-base) * .875) + .25vmin);
    --typography-scale-xs: calc( (var(--typography-scale-base) * .75) + .125vmin);

    /* Families */
    --font-family-sans: Nort, sans-serif;
    --font-family-system: system-ui;
    --font-family-monospace: "Operator Mono", "Source Code Pro", monospace;

    /* Sizes */
    --font-size-title: var(--typography-scale-3);
    --font-size-lede: var(--typography-scale-3);
    --font-size-heading: var(--typography-scale-2);
    --font-size-subhead: var(--typography-scale-1);
    --font-size-body: var(--typography-scale-base);
    --font-size-reference: var(--typography-scale-s);
    --font-size-caption: var(--typography-scale-xs);
    --font-size-default: 1rem;

    /* Font weight */
    --font-weight-heading: 500;
    --font-weight-body: 400;

    /* Line height */
    --line-height-solid: 1em;
    --line-height-tight: calc(1.25em + .25vw);
    --line-height-loose: calc(1.4em + .25vw);

    /* Other stuff */
    --line-measure: 42.5rem;
    --word-spacing: 0;
}

