/* ========================================================================
   #COLORS
   ======================================================================== */

:root {
    /* Neutral palette */
    --color-neutral: hsla(228, 8%, 64%, 1);
    --color-neutral--darkest: color-mod(var(--color-neutral) l(16%));
    --color-neutral--darker: color-mod(var(--color-neutral) l(32%));
    --color-neutral--dark: color-mod(var(--color-neutral) l(40%));
    --color-neutral--light: color-mod(var(--color-neutral) l(80%));
    --color-neutral--lighter: color-mod(var(--color-neutral) s(7%) l(88%));
    --color-neutral--lightest: color-mod(var(--color-neutral) s(2%) l(96%));

    /* Alpha palette */
    --color-alpha--highest: color-mod( var(--color-neutral--darkest) a(.1));
    --color-alpha--high: color-mod(var(--color-neutral--darkest) a(.25));
    --color-alpha--low: color-mod(var(--color-neutral--darkest) a(.75));
    --color-alpha--lowest: color-mod(var(--color-neutral--darkest) a(.9));

    /* Color assignements */
    --color-accent: hsla(0, 100%, 71%, 1);
    --color-background: hsla(0, 0%, 100%, 1);
    --color-text: var(--color-neutral--darkest);
    --color-link: var(--color-accent);
    --color-link-underline: var(--color-alpha-high);
    --color-rule: var(--color-alpha-highest);
    --color-offset: var(--color-neutral-lightest);
    --color-delete: hsla(0, 100%, 80%, .75);
    --color-highlight: hsla(60, 100%, 80%, .75);
    --color-insert: hsla(120, 100%, 80%, .75);
    --color-focus: var(--color-accent);
}
