/* ==========================================================================
   #ABBREVIATION
   ========================================================================== */

/**
 * OpenType feature for small caps
 * see http://practice.typekit.com/lesson/caring-about-opentype-features/
 *
 * 1. Safari iOs doesn't support `font-feature` so we use `text-transform`
 *    to make the texte uppercase. http://caniuse.com/#search=font-feature
 * 2 . This will prevent abbreviations from being hyphenated.
 */
abbr {
    font-kerning: normal;
    text-transform: uppercase; /* [1] */
    font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum",
        "smcp", "c2sc";
    font-variant-caps: all-small-caps;
    font-variant-ligatures: common-ligatures, contextual;
    font-variant-numeric: oldstyle-nums, proportional-nums;

    hyphens: manual;
}
