/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * 1. More readable headings
 *    see http://practice.typekit.com/lesson/caring-about-opentype-features/
 */

%heading {
    font-weight: map(fonts, heading, bold);
    font-family: map(fonts, heading, family);
    font-kerning: normal; /* [1] */
    line-height: map(fonts, heading, line-height);

    margin-top: var(--space-medium);
    margin-bottom: var(--space-medium);

    font-feature-settings: "kern", "liga", "clig", "calt", "dlig"; /* [1] */
    font-variant-ligatures: common-ligatures, contextual,
        discretionary-ligatures; /* [1] */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %heading;
}



%heading--h1 {
    font-size: var(--typography-scale-3);
}

%heading--h2 {
    font-size: var(--typography-scale-2);
}

%heading--h3 {
    font-size: var(--typography-scale-1);
}

%heading--h4 {
    font-size: var(--typography-scale-base);
}

%heading--h5 {
    font-size: var(--typography-scale-small);
}

%heading--h6 {
    font-size: var(--typography-scale-small);
}

h1 {
    @extend %heading--h1;
}

h2 {
    @extend %heading--h2;
}

h3 {
    @extend %heading--h3;
}

h4 {
    @extend %heading--h4;
}

h5 {
    @extend %heading--h5;
}

h6 {
    @extend %heading--h6;
}
