/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Ensure the page always fills at least the entire height of the viewport.
 * 2. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 3. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 4. Mor readable bodytext
 *    see http://practice.typekit.com/lesson/caring-about-opentype-features/
 * 5. Font smooting
 */

html {
    min-height: 100%; /* [1] */

    font-size: var(--font-size-body); /* [2] */
    font-weight: var(--font-weight-body);
    font-family: var(--font-family-sans); /* [2] */
    font-kerning: normal; /* [4] */

    line-height: var(--line-height-loose); /* [4] */

    color: var(--color-text);

    background-color: var(--color-background);
    font-feature-settings: "kern", "liga", "clig", "calt", "onum",
        "pnum"; /* [2] */

    -moz-osx-font-smoothing: grayscale; /* [5] */
    -webkit-font-smoothing: antialiased; /* [5] */
    font-smoothing: antialiased; /* [5] */
    font-variant-ligatures: common-ligatures, contextual; /* [4] */
    font-variant-numeric: oldstyle-nums, proportional-nums; /* [4] */

    overflow-y: scroll; /* [3] */
    text-rendering: optimizeLegibility; /* [5] */
}
