/* ==========================================================================
   #TABLES
   ========================================================================== */

/**
 * 1. Ensure tables fill up as much space as possible.
 * 2. OpenType feature for data
 *    see http://practice.typekit.com/lesson/caring-about-opentype-features/
 */
table {
    width: 100%; /* [1] */

    font-kerning: normal; /* [2] */
    font-feature-settings: "kern", "liga", "clig", "calt", "lnum",
        "tnum"; /* [2] */
    font-variant-ligatures: common-ligatures, contextual; /* [2] */
    font-variant-numeric: lining-nums, tabular-nums; /* [2] */
}
