/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * 1. Add specificity to override `a::visited` style.
 * 2. Allow us to style box model properties.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Line different sized buttons up a little nicer.
 */

a.c-btn { /* [1] */
    --c-btn__text-color: var(--e-anchors__color);
    --c-btn__bg-color: none;

    display: inline-block; /* [2] */

    font: inherit; /* [3] */
    color: var(--c-btn__text-color);
    text-align: center; /* [4] */
    text-decoration: none; /* [4] */

    background-color: var(--c-btn__bg-color);
    border-bottom: none;
    margin: 0; /* [4] */
    padding: var(--space-small) var(--space-medium);
    border-radius: map(borders, radius, default);
    cursor: pointer; /* [5] */
    transition: map(animations, transition, default);
    vertical-align: middle; /* [6] */

    &:hover,
    &:active,
    &:focus,
    &:visited {
        --c-btn__text-color: map(colors, text, inverse);
        --c-btn__bg-color: var(--e-anchors__color);
    }
}





/* Style variants
   ========================================================================== */

a.c-btn--primary { /* [1] */
    --c-btn__bg-color: map(colors, primary, base);
    --c-btn__text-color: map(colors, text, inverse);

    &:hover,
    &:active,
    &:focus {
        --c-btn__bg-color: map(colors, primary, dark);
    }
}



a.c-btn--secondary { /* [1] */
    --c-btn__bg-color: map(colors, secondary, base);
    --c-btn__text-color: map(colors, text, inverse);

    &:hover,
    &:active,
    &:focus {
        --c-btn__bg-color: map(colors, secondary, dark);
    }
}





/* Size variants
   ========================================================================== */
a.c-btn--block {
    width: 100%;
}
