<header>
    <ul class="o-list-bare">
        <li class="o-list-bare__item">
            <a href="#" 
                accesskey="h" 
                title="Homepage">alienlebarge.ch</a>
        </li>
        <li class="o-list-bare__item u-fixed-bottom u-fixed-bottom--right">
            <a href="#nav" 
                class="c-btn c-btn--primary" 
                accesskey="n" 
                title="Navigation">Nav<span class="u-visually-hidden">igation</span></a>
        </li>
        <li class="o-list-bare__item u-visually-hidden">
            <a href="#main" 
                accesskey="m" 
                title="Main content">Main content</a>
        </li>
        <li class="o-list-bare__item u-visually-hidden">
            <a href="#footer" 
                accesskey="f" 
                title="Footer">Footer</a>
        </li>
    </ul>
</header>
