<header>
    <ul>
        <li><a href="#" accesskey="h" title="Homepage">alienlebarge.ch</a></li>
        <li><a href="#nav" accesskey="n" title="Navigation">Nav<span class="u-visually-hidden">igation</span></a></li>
        <li class="u-visually-hidden"><a href="#main" accesskey="m" title="Main content">Main content</a></li>
        <li class="u-visually-hidden"><a href="#footer" accesskey="f" title="Footer">Footer</a></li>
    </ul>
</header>
