/* ==========================================================================
   #PREFORMATTED-TEXT
   ========================================================================== */

pre {
    font-size: map(fonts, small, font-size);
    font-family: map(fonts, monospace, family);
    color: map(colors, text, inverse);

    background-color: map(colors, neutral, darker);

    padding: var(--space-small);
    border-radius: map(borders, radius, default);
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}
