

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
</head>
<body>

<!-- Start: @background-color--default -->
<p>background color</p>
<!-- End: @background-color--default -->

<!-- Start: @background-color--primary-base -->
<p class="u-background-color--primary-base">Primary base</p>
<!-- End: @background-color--primary-base -->

<!-- Start: @background-color--primary-light -->
<p class="u-background-color--primary-light">Primary light</p>
<!-- End: @background-color--primary-light -->

<!-- Start: @background-color--primary-light -->
<p class="u-background-color--primary-dark">Primary dark</p>
<!-- End: @background-color--primary-light -->

<!-- Start: @background-color--secondary-base -->
<p class="u-background-color--secondary-base">Secondary base</p>
<!-- End: @background-color--secondary-base -->

<!-- Start: @background-color--secondary-light -->
<p class="u-background-color--secondary-light">Secondary light</p>
<!-- End: @background-color--secondary-light -->

<!-- Start: @background-color--secondary-dark -->
<p class="u-background-color--secondary-dark">Secondary dark</p>
<!-- End: @background-color--secondary-dark -->

<!-- Start: @background-color--tertiary-base -->
<p class="u-background-color--tertiary-base">Tertiary base</p>
<!-- End: @background-color--tertiary-base -->

<!-- Start: @background-color--tertiary-light -->
<p class="u-background-color--tertiary-light">Tertiary light</p>
<!-- End: @background-color--tertiary-light -->

<!-- Start: @background-color--tertiary-dark -->
<p class="u-background-color--tertiary-dark">Tertiary dark</p>
<!-- End: @background-color--tertiary-dark -->

<!-- Start: @background-color--quaternary-base -->
<p class="u-background-color--quaternary-base">Quaternary base</p>
<!-- End: @background-color--quaternary-base -->

<!-- Start: @background-color--text-base -->
<p class="u-background-color--text-base">Text base</p>
<!-- End: @background-color--text-base -->

<!-- Start: @background-color--text-inverse -->
<p class="u-background-color--text-inverse">Text inverse</p>
<!-- End: @background-color--text-inverse -->

<!-- Start: @background-color--neutral-base -->
<p class="u-background-color--neutral-base">Neutral Base</p>
<!-- End: @background-color--neutral-base -->

<!-- Start: @background-color--neutral-lighter -->
<p class="u-background-color--neutral-lighter">Neutral Lighter</p>
<!-- End: @background-color--neutral-lighter -->

<!-- Start: @background-color--neutral-light -->
<p class="u-background-color--neutral-light">Neutral light</p>
<!-- End: @background-color--neutral-light -->

<!-- Start: @background-color--neutral-dark -->
<p class="u-background-color--neutral-dark">Neutral dark</p>
<!-- End: @background-color--neutral-dark -->

<!-- Start: @background-color--neutral-darker -->
<p class="u-background-color--neutral-darker"></p>
<!-- End: @background-color--neutral-darker -->

<!-- Start: @background-color--special-states-focus -->
<p class="u-background-color--special-states-focus">Special-states focus</p>
<!-- End: @background-color--special-states-focus -->

<!-- Start: @background-color--spcial-states-visited -->
<p class="u-background-color--special-states-visited">Special-states visited</p>
<!-- End: @background-color--spcial-states-visited -->


</body>
</html>

