

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<!-- Start: @background-color--default -->
<p>background color</p>
<!-- End: @background-color--default -->

<!-- Start: @background-color--primary-base -->
<p class="u-background-color--primary-base">Primary base</p>
<!-- End: @background-color--primary-base -->

<!-- Start: @background-color--primary-light -->
<p class="u-background-color--primary-light">Primary light</p>
<!-- End: @background-color--primary-light -->

<!-- Start: @background-color--primary-light -->
<p class="u-background-color--primary-dark">Primary dark</p>
<!-- End: @background-color--primary-light -->

<!-- Start: @background-color--secondary-base -->
<p class="u-background-color--secondary-base">Secondary base</p>
<!-- End: @background-color--secondary-base -->

<!-- Start: @background-color--secondary-light -->
<p class="u-background-color--secondary-light">Secondary light</p>
<!-- End: @background-color--secondary-light -->

<!-- Start: @background-color--secondary-dark -->
<p class="u-background-color--secondary-dark">Secondary dark</p>
<!-- End: @background-color--secondary-dark -->

<!-- Start: @background-color--tertiary-base -->
<p class="u-background-color--tertiary-base">Tertiary base</p>
<!-- End: @background-color--tertiary-base -->

<!-- Start: @background-color--tertiary-light -->
<p class="u-background-color--tertiary-light">Tertiary light</p>
<!-- End: @background-color--tertiary-light -->

<!-- Start: @background-color--tertiary-dark -->
<p class="u-background-color--tertiary-dark">Tertiary dark</p>
<!-- End: @background-color--tertiary-dark -->

<!-- Start: @background-color--quaternary-base -->
<p class="u-background-color--quaternary-base">Quaternary base</p>
<!-- End: @background-color--quaternary-base -->


</body>
</html>

