

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
</head>
<body>

<blockquote>
    <p>Mon fils, pour t’évader de ce monde accablant, si le rêve et la paix sont le bonheur du sage, tu les trouveras là, sans quitter ton village, réunis, grâce à Dieu, dans ce joli vin blanc !</p>

    <footer>
        <cite cite="https://fr.wikipedia.org/wiki/Jean_Villard#Citations">Jean Villard</cite>
    </footer>
</blockquote>


</body>
</html>

