

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
</head>
<body>

<dl>
  <dt>Lorem ipsum.</dt>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, inventore.</dd>

  <dt>Ad, ratione.</dt>
  <dd>Perferendis, mollitia harum vitae molestias nisi ea, eum ipsum maiores.</dd>

  <dt>Reiciendis, repellendus.</dt>
  <dd>Excepturi in nihil, quaerat perferendis odit rerum, architecto doloribus vitae.</dd>

  <dt>Dignissimos, asperiores.</dt>
  <dd>Sequi accusantium quasi ut distinctio, soluta, neque assumenda dicta quisquam?</dd>

  <dt>Assumenda, quam?</dt>
  <dd>Possimus dicta nam molestiae tempora sequi, debitis error, nulla iusto.</dd>
</dl>


</body>
</html>

