

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<header>
    <ul>
        <li><a href="#" accesskey="h" title="Homepage">alienlebarge.ch</a></li>
        <li><a href="#nav" accesskey="n" title="Navigation">Nav<span class="u-visually-hidden">igation</span></a></li>
        <li class="u-visually-hidden"><a href="#main" accesskey="m" title="Main content">Main content</a></li>
        <li class="u-visually-hidden"><a href="#footer" accesskey="f" title="Footer">Footer</a></li>
    </ul>
</header>

<main id="main">
    <h1>Cédric Aellen</h1>
    <h2>Hello !</h2>
    
<p>Debitis laudantium aut. Velit aut sint ut autem enim. Enim consequatur laudantium vel aut dicta sequi et et fugiat. Modi dolor a dignissimos quia et. Facilis est ut labore et distinctio.</p>



    <h2>Derniers articles</h2>
    <ul>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur.</a> &mdash; <time>Décembre 2016</time></li>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur.</a> &mdash; <time>Décembre 2016</time></li>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur.</a> &mdash; <time>Décembre 2016</time></li>
    </ul>
    <p>See also <a href="articles">the whole list of pub­li­ca­tions.</a></p>

</main>
<nav id="nav">
    <h2>Navigation</h2>
    <ol>
    
        <li><a href="homepage">Homepage</a></li>
    
        <li><a href="articles">Articles</a></li>
    
        <li><a href="resume">Resume</a></li>
    
    </ol>
</nav>

<footer>
    <p>This is the footer</p>
</footer>



</body>
</html>

