

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<p><input id="searchInput" type="search"></p>
<p><input id="emailInput" type="email"></p>
<p><input id="urlInput" type="url"></p>
<p><input id="telInput" type="tel"></p>
<p><input id="numberInput" type="number"></p>
<p><input id="rangeInput" type="range"></p>
<p><input id="dateInput" type="date"></p>
<p><input id="monthInput" type="month"></p>
<p><input id="weekInput" type="week"></p>
<p><input id="timeInput" type="time"></p>
<p><input id="datetimeInput" type="datetime"></p>
<p><input id="datetime-localInput" type="datetime-local"></p>
<p><input id="colorInput" type="color"></p>


</body>
</html>

