

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<ul class="o-list-bare"><li class="o-list-bare__item">Suscipit id error.</li><li class="o-list-bare__item">Quas sint at ducimus veritatis ut ipsa suscipit sit quo.</li><li class="o-list-bare__item">Optio et aliquam placeat qui animi odio minima fugiat maiores.</li><li class="o-list-bare__item">Maiores qui odio ullam.</li><li class="o-list-bare__item">Sunt illum deleniti fugit porro natus ab molestias quis dolorem.</li></ul>


</body>
</html>

