

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
</head>
<body>

<ul><li>Ut non rem quae laboriosam nisi omnis modi est sed.</li><li>Odit ea est qui eveniet repellat et repellendus quibusdam necessitatibus.</li><li>Voluptatum dolores mollitia rerum sequi adipisci tempora.</li><li>Quia distinctio consequatur sed rerum accusantium quia.</li><li>Ad ea aut fuga pariatur aut voluptates.</li></ul>


</body>
</html>

