

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<ul class="o-list-bare"><li class="o-list-bare__item">In est sint repellendus.</li><li class="o-list-bare__item">Quia nemo ad consequuntur repudiandae id quasi quos vel repudiandae.</li><li class="o-list-bare__item">Sapiente ullam fugiat in molestias delectus.</li><li class="o-list-bare__item">Ab et aut.</li><li class="o-list-bare__item">Architecto reiciendis vel sequi esse aut consequuntur sed veritatis nam.</li></ul>


</body>
</html>

