

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview Layout</title>
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">

    <script>
        var script = document.createElement('script');
        script.src = '../../assets/scripts/fontfaceobserver.js';
        script.async = true;

        script.onload = function () {

            // Timeout function
            function timeout(time) {
                return new Promise(function (resolve, reject) {
                    setTimeout(reject, time);
                });
            }

            // font-loading code
            var trenchSlab = new FontFaceObserver('TrenchSlab');
            var skemaProOmni = new FontFaceObserver('SkemaProOmni');
            var html = document.documentElement;

            // add a class if TrenSlab is loaded
            Promise.race([
                trenchSlab.load(),
                timeout(1000)
            ]).then(function () {
                html.classList.add('js-fonts-loaded--TrenchSlab');
            });

            // add a class if SkemaProOmni is loaded
            Promise.race([
                skemaProOmni.load(),
                timeout(1000)
            ]).then(function () {
                html.classList.add('js-fonts-loaded--SkemaProOmni');
            });
        };
        document.head.appendChild(script);
    </script>
</head>
<body>

<ul class="o-list-inline"><li class="o-list-inline__item">Qui nemo et nam architecto repellendus numquam quasi ut neque.</li><li class="o-list-inline__item">Qui illum architecto ut a voluptatem cupiditate.</li><li class="o-list-inline__item">Eum laborum esse nesciunt.</li><li class="o-list-inline__item">Non et beatae voluptas alias.</li><li class="o-list-inline__item">Error sit dolore qui sapiente voluptatum nobis cumque.</li></ul>


</body>
</html>

