

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<ul class="o-list-inline"><li class="o-list-inline__item">Delectus excepturi quaerat molestiae.</li><li class="o-list-inline__item">Quia rerum reiciendis pariatur facere voluptatem eum.</li><li class="o-list-inline__item">Inventore nihil consequatur doloribus.</li><li class="o-list-inline__item">Deserunt in adipisci provident rem doloremque sunt.</li><li class="o-list-inline__item">Alias ut at reiciendis libero nisi voluptatem.</li></ul>


</body>
</html>

