

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<ol><li>Cum est dolorum qui.</li><li>Sunt ut numquam.</li><li>Nam expedita hic voluptatem quis est.</li><li>Quo quis velit recusandae qui veritatis illum pariatur ratione et.</li><li>Laborum corporis nisi ad aperiam ut.</li></ol>


</body>
</html>

