

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<ol><li>Et eum eos.</li><li>Repudiandae qui dolorum aspernatur deserunt.</li><li>Dolores nobis aspernatur.</li><li>Est culpa nobis ut.</li><li>Et eligendi vitae eum.</li></ol>


</body>
</html>

