

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<ol><li>Adipisci optio omnis.</li><li>Quae et mollitia nisi tempora accusamus et.</li><li>Rerum praesentium quia vel molestiae odio.</li><li>Blanditiis sunt et dignissimos doloremque optio.</li><li>Provident nobis perspiciatis quia eum debitis aut sunt quo.</li></ol>


</body>
</html>

