

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<ul class="o-list-inline"><li class="o-list-inline__item">Mollitia dolorem mollitia.</li><li class="o-list-inline__item">Corporis unde ex quia error.</li><li class="o-list-inline__item">Aut consectetur odio cum sunt iusto minus eum.</li><li class="o-list-inline__item">Quasi est dolores dolorem cumque est.</li><li class="o-list-inline__item">Alias saepe maiores quia incidunt quaerat commodi sed architecto.</li></ul>


</body>
</html>

