

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<ul><li>Eveniet adipisci corporis.</li><li>Similique minima omnis voluptas.</li><li>Nihil id aut vel voluptatum aut omnis.</li><li>Magni possimus facere ipsa.</li><li>Harum non et dolore similique explicabo.</li></ul>


</body>
</html>

