

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<p>Ut officia ratione facilis voluptates officia sint nulla voluptates. Eaque temporibus quod exercitationem voluptatem. Aut consequatur corporis accusantium aliquam sint molestias dignissimos aspernatur. Laudantium minus dolor. Ad corrupti quo eum libero nisi dolor minus. Et veritatis et ratione perferendis.</p>


</body>
</html>

