

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<p>Est placeat distinctio. Qui quo perspiciatis cupiditate sapiente et voluptate beatae. Qui accusamus magni. Ea exercitationem neque. Corrupti dicta veniam accusamus ex voluptate animi quos.</p>


</body>
</html>

