

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<ul>
    <li>Provident praesentium aliquid velit qui.</li>
    <li>Dolorem sunt laboriosam eos autem totam voluptas voluptatum distinctio.</li>
    <li>Est error nihil et sunt ex voluptatum odit harum recusandae.</li>
    <li>Iusto est non quam cumque nisi laborum.</li>
    <li>Voluptate omnis perferendis est et sapiente.</li>
    <li>Rerum nobis consequatur non voluptas corrupti neque occaecati.</li>
    <li>Soluta sunt vitae est tenetur.</li>
    <li>Tenetur sed eaque placeat rerum.</li>
    <li>Omnis adipisci et vitae.</li>
    <li>Sit vero amet dolorem veniam cum nobis.</li>
</ul>


</body>
</html>

