

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="../../assets/styles/style.css">
    <title>Preview Layout</title>
    <script src="https://use.typekit.net/vbs6yay.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<ul>
    <li>Nihil natus consequatur quia et architecto quas beatae quis.</li>
    <li>Et qui est perferendis facere iusto ut aut voluptatibus asperiores.</li>
    <li>Rem voluptas aut blanditiis libero error eum dicta repudiandae voluptatem.</li>
    <li>Aut saepe est id.</li>
    <li>Sed veritatis et qui doloribus molestiae eius aliquid.</li>
    <li>Voluptas harum debitis est.</li>
    <li>Eveniet sit dolor harum iusto ab et voluptatem ut repudiandae.</li>
    <li>Porro magni officia.</li>
    <li>Est reiciendis vel repellendus nostrum ex autem.</li>
    <li>A voluptatibus dolor aut est ipsam natus nihil.</li>
</ul>


</body>
</html>

